table {
  margin: 200px auto auto auto;
}

td {
  height: 100px;
  width: 100px;
  border: 1px solid lightgray;
}

form {
  width: inherit;
  height: inherit;
}

input {
  width: inherit;
  height: inherit;
  font-size: 64px;
  text-align: center;
}

input::placeholder {
    color: rgba(211, 211, 211, 0.5);
}

.wrong {
  /*border: 2px solid red;*/
  background-color: rgb(255, 230, 230);
}

.right {
  /*border: 2px solid green;*/
  background-color: rgb(230, 255, 230);
}
